/* body {
  min-height: 2000px;
} */

.jumbotron {
  padding-top: 6rem;
  background-color: #e5e5e5ff;
}

h1 {
  color: #5b4cffff;
}
h2 {
  color: #5b4cffff;
}

#projects {
  background-color: #e5e5e5ff;
}

.i {
  color: #5b4cffff;
}

section {
  padding-top: 5rem;
}
